{% extends "base.html" %}

{% block content %}
<h1 align="center">ГЛАВНАЯ СТРАНИЧКА САЙТА</h1>
<div>
<form action="" method="post">
    <h2>Жалобы и Предложения</h2>
    {{ feedback_form.hidden_tag() }}
    {{ feedback_form.title(class="form-select")}}<br>
    {% for error in feedback_form.title.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    {{ feedback_form.content(class="form-control",
    placeholder='Мы готовы становиться лучше для вас') }}<br>
    {% for error in feedback_form.content.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    <p>{{ feedback_form.submit(type="submit", class="btn btn-warning") }}</p>
    <div style="color: red;">{{ message }}</div>
</form>
</div>
<pre>











































































</pre>
{% endblock %}